<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">pnsql1</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gateway</property>
        <property name="hibernate.connection.username">pnsql</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="py/gov/ande/control/gateway/model/Ied.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/UnbufferedRcb.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/TagCommandIec61850.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/Playground.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/Normalization.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/Drivers.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/TagMonitorIec61850.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/ReportingCapability.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/InformationType.hbm.xml" />
        <mapping resource="py/gov/ande/control/gateway/model/BufferedRcb.hbm.xml" />
    </session-factory>
</hibernate-configuration>
